<style type="text/css" media="screen">@import url({{ MEDIA_URL }}notes/reminders.css);</style>
<script type="text/javascript">
var timer, interval = 1000*60*{{ interval }}; 
function refreshReminders(slide) {
  $('#reminders').load('{% url ajax_reminders %}', function() {
    $('#reminders select').mousedown(function() {
      clearInterval(timer);
    });
    $('#reminders select').change(function() {
      timer = setInterval(refreshReminders, interval, true);
    });
    if (slide && this.style.display == 'none') {
      $(this).slideUp();
    } else {
      $(this).show();
    }
    $('body').css('paddingBottom', $('#reminders').height() + 'px');
  });
}
$(function() {
  $('body').append('<div id="reminders" style="{% if not initial_html %}display:none{% endif %}">{{ initial_html|escapejs }}</div>');
  $('body').css('paddingBottom', $('#reminders').height() + 'px');
  {% if interval > 0 %}
  timer = setInterval(refreshReminders, interval, true);
  {% endif %}
});
</script>
